// Variables

@brand-primary: #0085a1;
@brand-gray: #a3a3a3;

@gray-dark: lighten(black, 25%);
@gray-light: lighten(black, 75%);

@white-faded: fade(white, 80%);

// Additional variables that can be mapped to CSS custom properties
@chrome-tab-theme-color: #42b549;
@sidebar-bg-color: #f5f5f5;
@header-bg-color: #f3f3f3;