{% if site.valine_comment %}
<!-- Valine 评论框 start -->
<div id="vcomments"></div>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//cdn.jsdelivr.net/npm/valine@1.5.1/dist/Valine.min.js'></script>
<script type="text/javascript">
    new Valine({
        el: '#vcomments',
        appId: '{{ site.valine_appId }}',
        appKey: '{{ site.valine_appKey }}',
        placeholder: '{{ site.valine_placeholder }}',
        {% if site.valine_serverURLs %}
        serverURLs: '{{ site.valine_serverURLs }}',
        {% endif %}
        enableQQ: true,
        avatar: 'mp', 
        visitor: true 
    });
</script>
<!-- Valine 评论框 end -->
{% endif %}
